.footer {
  align-items: center;
  border-top: 1px solid rgba(219,219,219,1);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-top: auto;
  background-color: #696969;
}

.footer_copy {
  text-align: center;
  color: #fff;
}
